{{#extend "default"}}
  {{#content "subject"}}Password Reset{{/content}}
  {{#content "body"}}
    <p>A password reset was requested for your OrderMyGear.com account. If you didn't make this request or no longer wish to reset your password, please disregard this email.</p>
    
    <p><a class="btn-primary" href="%url%">Reset my password</a></p>
    
    <p><a href="%url%">%url%</a></p>
    
    <p style="display:none;"><%body%></p>
  {{/content}}
{{/extend}}
