{{#extend "default"}}
  {{#content "title"}}
    <h1>%title%</h1>
  {{/content}}
  {{#content "body"}}
    <p>
      The online store for %saleName% is now closed for orders.
    </p>
    <p style="display:none;">&lt;%body%&gt;</p>
  {{/content}}
{{/extend}}
