{{#extend "default"}}
  {{#content "title"}}
    <h1>%title%</h1>
  {{/content}}
  {{#content "body"}}
    <p>
      The online store for "%saleName%" will be closing in %daysLeft% days.
    </p>
    <p>
      If you have not placed your order yet, please do so at <a href="%url%">%url%</a>.
    </p>
    <p>
      This store will be closed for orders on %saleClose%.
    </p>
    <p style="display:none;">&lt;%body%&gt;</p>
  {{/content}}
{{/extend}}
